{% extends "main.html" %}
<h1>ok</h1>

{% block content %}

<div>
    <form method="post" action="">
         {% csrf_token %}
         {{form.as_p}}
         <input type="submit" value="Submit">
    </form>
    <div>
        {% for room in rooms %}
            <div>
                <span>@{{room.host.username}}</span>
                <h1>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a> -- {{room.age}}</h1>
                <small>{{room.topic.name}}</small>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}